.form {
    display: flex;
    align-items: center;
    padding: 1.4rem 0.5rem;
    justify-content: space-between;
    width: 100%;
}

.input {
    font-size: 1.5rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 3rem;
    width: 100%;
    margin-right: 0.5rem;
}